{{!< default}}
<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}" style="background-color:rgb(92, 99, 185)">
    <div class="site-header-inner inner">
            
            <p class="site-description">The all-in-one gym workout app</p>
            <p class="site-subdescription">Track your workouts and nutrition all in one place.</p>
            <div class="button-container">
                <button class="custom-button">Download for iOS</button>
                <button class="custom-button">Download for Android</button>
</div>
    </div>
</div>

<main id="main">
   
<section>
      <!---  <figure class="kg-card kg-image-card kg-width-full"><img src="https://testblog.gymstreak.com/content/images/2023/08/grey_home.png" class="kg-image" alt="" loading="lazy" width="2000" height="1069" srcset="https://testblog.gymstreak.com/content/images/size/w600/2023/08/64b96156b94d249358fd3577_home-1-.png 600w, https://testblog.gymstreak.com/content/images/size/w1000/2023/08/64b96156b94d249358fd3577_home-1-.png 1000w, https://testblog.gymstreak.com/content/images/size/w1600/2023/08/64b96156b94d249358fd3577_home-1-.png 1600w, https://testblog.gymstreak.com/content/images/size/w2400/2023/08/64b96156b94d249358fd3577_home-1-.png 2400w"></figure>
      -->  <div style="position:relative;display:grid;overflow:hidden">
            <img class="img" src="https://gymstreak.com/img/phone_frame.png" style="width:450px;z-index:100;">
            <!---
            <div id = "workout-screen" style='position:absolute;'><img class="img" src="img/new_workout.png" style="width:450px; position:absolute;z-index:10;margin-left : 0px;" ></img></div>
            -->
            <img id="workout-plan-screen" class="img" src="https://gymstreak.com/img/new_workout.png" style="width: 450px; position: absolute; z-index: 1; padding: 20px">
          </div>
        <div class="gradient full-hero-image---left"></div>
        <div class="gradient full-hero-image---right"></div>
        <div class="gradient full-hero-image"></div>
</section>
    <section class="footer-cta outer">
        <div class="inner">
           <h2 class="footer-cta-title">Latest Articles</h2>
        </div>
    
            

    {{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" limit="3" as |more_posts|}}

        {{#if more_posts}}
            <aside class="read-more-wrap outer">
                <div class="read-more inner">
                    {{#foreach more_posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </aside>
        {{/if}}

        {{/get}}
    {{/if}}

        <div class="kg-card kg-button-card kg-align-center"><a href="https://testblog.gymstreak.com/" class="kg-btn kg-btn-accent">Download ios</a></div>

    
    </section>
</main>



