/* These styles override the Casper navbar defaults */

  .gradient {
    min-height: 350px;
    background-image: linear-gradient(rgba(6, 6, 6, 0), #060606);
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .gradient.full-hero-image {
    min-height: 64%;
    background-image: linear-gradient(rgba(6, 6, 6, 0), #060606);
  }
  
  .gradient.full-hero-image---left {
    width: 10%;
    min-height: auto;
    background-image: linear-gradient(270deg, rgba(6, 6, 6, 0), #060606);
    margin-left: -5px;
    display: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .gradient.full-hero-image---right {
    width: 10%;
    min-height: auto;
    background-image: linear-gradient(to right, rgba(6, 6, 6, 0), #060606);
    margin-right: -5px;
    display: none;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }
  