/* These styles override the Casper navbar defaults */

  .gradient {
    min-height: 350px;
    background-image: linear-gradient(rgba(6, 6, 6, 0), #060606);
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .gradient.full-hero-image {
    min-height: 64%;
    background-image: linear-gradient(rgba(6, 6, 6, 0), #060606);
  }
  
  .gradient.full-hero-image---left {
    width: 10%;
    min-height: auto;
    background-image: linear-gradient(270deg, rgba(6, 6, 6, 0), #060606);
    margin-left: -5px;
    display: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .gradient.full-hero-image---right {
    width: 10%;
    min-height: auto;
    background-image: linear-gradient(to right, rgba(6, 6, 6, 0), #060606);
    margin-right: -5px;
    display: none;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }
  
  .site-description {
    display: inline-block;
    z-index: 10;
    max-width: 760px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
 }

.site-subdescription {
color: var(--color-secondary-text);
position: relative;
font-size: 2.5rem;
font-weight: 400;
margin: 10px 0 20px;
 }

 @media (max-width: 767px) {
  .has-cover .site-header-content {
      min-height: 240px;
  }
  .site-header-inner {
      gap: 16px;
  }
  .site-logo {
      max-width: 60%;
  }
  .site-title {
      font-size: 3.4rem !important;
  }
  .site-description {
      font-size: 6rem !important;

  }
  
  .site-logo + .site-description {
      margin-top: 12px !important;
  }
  .site-title + .site-description {
      margin-top: 12px !important;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: #4487d7;
}

/* Media query for screens with width less than or equal to 768px (common breakpoint for mobile devices) */
@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
  }
  .custom-button {
      width: 100%;
      margin: 5px 0;
  }
}